# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.auto.tfvars
backend.hcl

# Env & secrets
.env
.env.*

# Node/React
**/node_modules/
frontend/build/

# OS/editor
.DS_Store
*.log
